{{>header}}

<main>
    <p>This site was created by Jelle Pieterse. It is an exercise project to learn about node.js, express, handlebars. it uses data from mapbox.com and darksky.net</p>
    <img src="img/robot.png" alt="this is me baby">
</main>

{{>footer}}
