* { box-sizing: border-box}
body{
    top: 0;
    left: 0;
    padding: 0;
    margin: 3vw 10vw;
}

h1{
    font-size: 5rem;
}

nav{
    margin: 0 0 0 -16px;
}

nav a{
    text-decoration: none;
    color: #5e5e5e;

    padding: 8px 16px;
}
nav a:hover{
    color: rgb(0, 110, 255);
}

button{
    border: none;
    color: #fff;
    background: #bb5cbb;;
}
button:hover{
    background: purple;
}

main{
    margin: 3rem 0
}

form{
    display: flex
}

img{ max-width: 360px}